%h2 Privacy Policy
%h3 What we collect
%p beCamp.org collects personal information that you provide directly to us when you register or sign up for our mailing list.
%h3 How we use it
%p Unless otherwise stated, personal information collected by beCamp.org will be used only for planning and executing the event, including communicating with you about the event and future events. Your information may be shared with volunteers for the purpose of planning and executing the event, including communicating with you about the event and future events. Your information will not be shared with sponsors, vendors, or other parties except for the purpose of planning and executing the event, and communicating with you about the event and future events.

